<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <form class="login-form" method="post">
            {% csrf_token %}
            <h2>Login</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
            <br>
            <a href="{% url 'signup' %}" class="btn btn-primary">New User?</a>
            <br>
            <a href="{% url 'password_reset_request' %}" class="btn btn-primary">Forgot Password?</a>
        </form>
    </div>
</body>
</html>
